{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg p-3">
  <div class="container">
    {% if not cart_items %}
    <h2 class="text-center">Your shopping cart is empty</h2>
    <br />
    <div class="text-center">
      <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
    </div>
    {% else %}
    <div class="row">
      <aside class="col-lg-9">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="170">Quantity</th>
                <th scope="col" width="150">Price</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside col-8">
                      <img src="{{ cart_item.product.get_images.0.product_image.url }}" class="img-thumbnail" />
                    </div>
                    <figcaption class="info">
                      <a href="{{ cart_item.product.get_url }}"
                        class="title text-dark">{{ cart_item.product.product_name }}</a>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="col">
                    <div class="input-group input-spinner">
                      <div class="input-group-prepend">
                        {% if cart_item.quantity > 1 %}
                        <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light"
                          type="button">
                          <i class="fa fa-minus"></i>
                        </a>
                        {% endif %}
                      </div>
                      <input type="text" class="form-control" value="{{ cart_item.quantity }}" />
                      <div class="input-group-append">
                        {% if cart_item.quantity < cart_item.product.stock %}
                        <form action="{% url 'add_cart' cart_item.product.id %}" method="post">
                          {% csrf_token %}
                          <button class="btn btn-light" type="submit" id="button-plus">
                            <i class="fa fa-plus"></i>
                          </button>
                        </form>
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                          The maximum stock level.
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </td>

                
                <td>
                  <div class="price-wrap">
                    <var class="price">{{ cart_item.sub_total }}K</var>
                    <small class="text-muted">
                      {{ cart_item.product.price }}K each
                    </small>
                  </div>
                </td>
                <td class="text-right">
                  <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-danger"
                    onclick="return confirm('Are you sure?')">
                    Remove</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </aside>

      <aside class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">{{ total }}K</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">{{ tax }}K</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b">
                <strong>{{ grand_total }}K</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png' %}" height="26" />
            </p>
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">
              Checkout
            </a>
            <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
          </div>
        </div>
      </aside>

    </div>
    {% endif %}
  </div>
</section>
{% endblock %}